In [4]:
import pandas as pd
df = pd.DataFrame([
    {'Name': 'Chris', 'Item Purchased': 'Sponge', 'Cost': 22.5},
    {'Name': 'Kevyn', 'Item Purchased': 'Kitty Litter', 'Cost': 2.5},
    {'Name': 'Filip', 'Item Purchased': 'Spoon', 'Cost': 5.00}],
    index=['Store 1', 'Store 1', 'Store 2'])

In [5]:
df

         Cost Item Purchased   Name
Store 1  22.5         Sponge  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0          Spoon  Filip

In [6]:
df['Date'] = ['December 1', 'January 1', 'mid-May']
df['Delivered'] = True

In [7]:
df

         Cost Item Purchased   Name        Date  Delivered
Store 1  22.5         Sponge  Chris  December 1       True
Store 1   2.5   Kitty Litter  Kevyn   January 1       True
Store 2   5.0          Spoon  Filip     mid-May       True

In [8]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                        {'Name': 'Sally', 'Role': 'Course liaison'},
                        {'Name': 'James', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Director of HR'},
                        {'Name': 'Mike', 'School': 'Law'},
                        {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')

In [10]:
staff_df
student_df

               School
Name
James  Director of HR
Mike              Law
Sally     Engineering

In [14]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role          School
Name
James          Grader  Director of HR
Kelly  Director of HR             NaN
Mike              NaN             Law
Sally  Course liaison     Engineering

In [15]:
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

                 Role          School
Name
Sally  Course liaison     Engineering
James          Grader  Director of HR

In [16]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role          School
Name
Kelly  Director of HR             NaN
Sally  Course liaison     Engineering
James          Grader  Director of HR

In [18]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                 Role          School
Name
James          Grader  Director of HR
Mike              NaN             Law
Sally  Course liaison     Engineering

In [21]:
staff_df.reset_index().rename(columns={'Name':'NewName'})

  NewName            Role
0   Kelly  Director of HR
1   Sally  Course liaison
2   James          Grader

ValueError: labels ['Director of HR'] not contained in axis

### DataFrame Apply()

In [26]:
import numpy as np
import pandas as pd
!ls

Assignment2.ipynb  log.csv  olympics.csv  week2.ipynb
census.csv	   mpg.csv  week1.ipynb   week3.ipynb

In [37]:
census_df = pd\
            .read_csv('census.csv')\
            .dropna()\
            .set_index(['STNAME', 'CTYNAME'])
        
census_df.groupby('SUMLEV')

In [40]:
def min_max(row):
    data = row[['POPESTIMATE2010',
                            'POPESTIMATE2011',
                            'POPESTIMATE2012',
                            'POPESTIMATE2013',
                            'POPESTIMATE2014',
                            'POPESTIMATE2015']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})
test = census_df.apply(min_max, axis=1)
test.apply(lambda x: x['max'] * x['min'])

KeyError: ('max', 'occurred at index max')

### Scales

In [45]:
a = CategoricalDtype(categories=["Low", "Medium", "High"],ordered=True)
s = pd.Series(['Low', 'Low', 'High', 'Medium', 'Low', 'High', 'Low'])
s.astype('category', categories=['Low', 'Medium', 'High'], ordered=True)

/mnt/data1/anaconda3/envs/python35/lib/python3.5/site-packages/ipykernel_launcher.py:4: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  after removing the cwd from sys.path.

0       Low
1       Low
2      High
3    Medium
4       Low
5      High
6       Low
dtype: category
Categories (3, object): [Low < Medium < High]

### Assignment

In [120]:
import sys
sys.setrecursionlimit(1500)
def fix_data(row, cols):
    print(len(cols))
    for col in cols:
        if row[col] == '...':
            row[col] = np.NaN
    return row
def fix_country(row):
    idx = row['Country'].find('(')
    if idx != -1:
        row['Country'] = row[:idx].str.strip()
    return row
    
import pandas as pd
import numpy as np
energy_file = pd.ExcelFile('Energy Indicators.xls')
df = energy_file.parse(energy_file.sheet_names[0], skiprows=9)
df.drop(['Unnamed: 0', 'Unnamed: 1'], inplace=True, axis=1)
df.dropna(inplace=True)
df.apply(fix_country, axis=1)
# df.apply(lambda s: fix_data(s, df_columns), axis=1)
ScimEn_file = pd.ExcelFile('scimagojr-3.xlsx')
ScimEn = ScimEn_file.parse(ScimEn_file.sheet_names[0]).iloc[:15]
GDP = pd.read_csv('world_bank.csv', skiprows=4)
GDP_columns = ['Country',
              '2006',
              '2007',
              '2008',
              '2009',
              '2010',
              '2011',
              '2012',
              '2013',
              '2014',
              '2015',
              ]
GDP.rename(columns={'Country Name': 'Country'}, inplace=True)
GDP = GDP[GDP_columns]
df_columns = df.columns
# print(df.columns)
# print(GDP.columns)
# print(ScimEn.columns)
merge_df = pd.merge(df, GDP, how='inner')
merge_df = pd.merge(merge_df, ScimEn, how='inner')
merge_df

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [55]:
type(GDP['2006'][0])

numpy.float64

In [86]:
?pd.merge