## Pandas
### The Series Data Structure

In [14]:
import pandas as pd
import numpy as np

In [2]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [3]:
numbers = [1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [4]:
import numpy as np
np.isnan(np.nan)

True

In [5]:
dic_example = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd':4
}
s = pd.Series(dic_example)
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
s2 = pd.Series([1,2,3], index=['a','b','c'])

In [7]:
s2

a    1
b    2
c    3
dtype: int64

### Querying a Series

In [8]:
dic_example = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd':4
}
s = pd.Series(dic_example)
s.iloc[3]

4

In [9]:
s.loc['d']

4

In [10]:
s.sum()

10

In [11]:
np.sum(s)

10

In [12]:
%%timeit -n 10
t2 = s + 2

89.8 µs ± 50.9 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

### Pandas DataFrame

In [13]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])

In [14]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [15]:
df[['Cost', 'Name']]

         Cost   Name
Store 1  22.5  Chris
Store 1   2.5  Kevyn
Store 2   5.0  Vinod

In [25]:
df.drop('Name', axis=1)

         Cost Item Purchased
Store 1  22.5       Dog Food
Store 1   2.5   Kitty Litter
Store 2   5.0      Bird Seed

In [26]:
df['Test Column'] = df['Item Purchased'] + df['Name']

In [27]:
df

         Cost Item Purchased   Name        Test Column
Store 1  22.5       Dog Food  Chris      Dog FoodChris
Store 1   2.5   Kitty Litter  Kevyn  Kitty LitterKevyn
Store 2   5.0      Bird Seed  Vinod     Bird SeedVinod

### DataFrame Indexing and Loading

In [28]:
df['Cost'] += 2

In [29]:
df

         Cost Item Purchased   Name        Test Column
Store 1  24.5       Dog Food  Chris      Dog FoodChris
Store 1   4.5   Kitty Litter  Kevyn  Kitty LitterKevyn
Store 2   7.0      Bird Seed  Vinod     Bird SeedVinod

In [7]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
df = df.drop('Totals')

In [8]:
df

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17

In [9]:
list(df)

['№ Summer',
 '01 !',
 '02 !',
 '03 !',
 'Total',
 '№ Winter',
 '01 !.1',
 '02 !.1',
 '03 !.1',
 'Total.1',
 '№ Games',
 '01 !.2',
 '02 !.2',
 '03 !.2',
 'Combined total']

In [10]:
for col in df.columns:
    if col[:2] == '01':
        df.rename(columns={col: 'Gold' + col[4:]}, inplace=True)
    if col[:2] == '02':
        df.rename(columns={col: 'Silver' + col[4:]}, inplace=True)
    if col[:2] == '03':
        df.rename(columns={col: 'Bronze' + col[4:]}, inplace=True)
df.columns

Index(['№ Summer', 'Gold', 'Silver', 'Bronze', 'Total', '№ Winter', 'Gold.1',
       'Silver.1', 'Bronze.1', 'Total.1', '№ Games', 'Gold.2', 'Silver.2',
       'Bronze.2', 'Combined total'],
      dtype='object')

### Querying a DataFrame

In [11]:
df

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17

In [12]:

gold = df[df['Gold'] > 0]

In [ ]:
# temp = df.drop('Totals')
# temp[temp['Gold'] == np.max(temp['Gold'])].index[0]
# df = df.drop('Totals')
biggest = np.max(np.fabs(df['Gold'] - df['Gold.1']))
df[np.fabs(df['Gold'] - df['Gold.1']) == biggest].index[0]

In [17]:
len(gold.dropna())
df['difference'] = (df['Gold'] - df['Gold.1'])/df['Gold.2']
biggest = np.max(df['difference'])
df[df['difference'] == biggest].index[0]

'Algeria\xa0(ALG)'

In [18]:
df

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total,difference
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,NaN
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,1.000000
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,1.000000
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,1.000000
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,1.000000
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,0.930556
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,-0.532468
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,1.000000
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,1.000000
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,NaN
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,NaN
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,0.333333
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,0.947368
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,NaN
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,NaN
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,NaN
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,1.000000
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,NaN
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,0.961538
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,1.000000
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,1.000000
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,-0.024793
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,1.000000
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,0.887324
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,1.000000
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,1.000000
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,NaN
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,0.200000
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,1.000000
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,0.947368
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,NaN
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,NaN
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,1.000000
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,0.481865
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,-0.030928
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,1.000000
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,1.000000
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,NaN
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,NaN
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,1.000000
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,NaN
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,NaN
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,1.000000
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,1.000000
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,1.000000
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,1.000000
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,0.885714
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,1.000000
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,0.820896
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,1.000000
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,0.666667
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,1.000000
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,NaN
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,NaN
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,1.000000
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,NaN
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,NaN
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,1.000000
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,1.000000

In [20]:
type(df['Gold.2'] * 3 + df['Silver.2'] * 2 + df['Bronze.2'])

pandas.core.series.Series

### Using Census Data
#### Question 5

In [22]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [28]:
biggest = np.max(census_df['COUNTY'])
census_df[census_df['COUNTY'] == biggest]['STNAME'].iloc[0]

'Virginia'

#### Question 6

In [36]:
temp = census_df.sort_values('CENSUS2010POP',ascending=False).iloc[:3]
temp

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
190,40,4,9,6,0,California,California,37253956,37254503,37334079,...,-1.148464,-1.163788,-1.339869,-0.862856,-1.981572,2.761704,2.647127,2.728645,3.743342,2.656065
2566,40,3,7,48,0,Texas,Texas,25145561,25146105,25244363,...,4.527491,5.484904,4.446476,6.072953,6.248252,7.616364,8.660719,7.739851,9.780487,9.978697
1860,40,1,2,36,0,New York,New York,19378102,19378087,19402920,...,-4.354557,-5.945385,-5.561401,-8.130297,-7.990563,1.439239,-0.402860,0.407960,-1.334639,-1.205321

#### Question 7

In [109]:
cty_df = census_df[census_df['SUMLEV'] == 50]
new_census_df = cty_df.set_index('COUNTY')[['POPESTIMATE2010',
                            'POPESTIMATE2011',
                            'POPESTIMATE2012',
                            'POPESTIMATE2013',
                            'POPESTIMATE2014',
                            'POPESTIMATE2015']]
new_census_df = new_census_df.groupby(['COUNTY']).sum()

In [110]:
new_census_df['min_pop'] = np.min(new_census_df[['POPESTIMATE2010',
                            'POPESTIMATE2011',
                            'POPESTIMATE2012',
                            'POPESTIMATE2013',
                            'POPESTIMATE2014',
                            'POPESTIMATE2015']], axis=1)

In [111]:
new_census_df['max_pop'] = np.max(new_census_df[['POPESTIMATE2010',
                            'POPESTIMATE2011',
                            'POPESTIMATE2012',
                            'POPESTIMATE2013',
                            'POPESTIMATE2014',
                            'POPESTIMATE2015']], axis=1)

In [112]:
new_census_df['delta_pop'] = np.fabs(new_census_df['min_pop'] - new_census_df['max_pop'])

In [113]:
new_census_df.sort_values('delta_pop', ascending=False).index[0]

13

#### Question 8

In [96]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [122]:
cty_df = census_df[census_df['SUMLEV'] == 50]
first_regions= cty_df[(cty_df['REGION']  == 1) | (cty_df['REGION'] == 2)]
first_regions = first_regions[first_regions['POPESTIMATE2015'] > first_regions['POPESTIMATE2014']]
first_regions[first_regions['CTYNAME'].str.find('Washington')!= -1][['STNAME', 'CTYNAME']]

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [103]:
first_region

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
314,40,1,1,9,0,Connecticut,Connecticut,3574097,3574118,3579717,...,-3.724400,-5.311208,-4.730271,-7.567093,-7.687268,0.775510,-1.066084,-0.278693,-2.376831,-2.463243
315,50,1,1,9,1,Connecticut,Fairfield County,916829,916850,919744,...,-0.228261,-3.030708,-2.070291,-6.633789,-7.385939,6.119788,2.687406,4.096896,0.441829,-0.338989
316,50,1,1,9,3,Connecticut,Hartford County,894014,894029,895303,...,-5.037297,-6.324143,-5.237664,-8.636074,-8.135161,-0.025666,-1.662136,-0.314193,-2.840433,-2.327200
317,50,1,1,9,5,Connecticut,Litchfield County,189927,189927,189773,...,-4.103317,-7.183847,-2.812353,-7.951141,-5.931948,-3.290047,-6.450584,-1.983618,-6.939080,-4.906204
318,50,1,1,9,7,Connecticut,Middlesex County,165676,165676,165628,...,1.410378,-6.716791,-2.617825,-4.987002,-6.526367,3.598271,-4.522077,-0.308335,-2.272328,-3.807554
319,50,1,1,9,9,Connecticut,New Haven County,862477,862474,863401,...,-5.240312,-5.579033,-6.802453,-7.571850,-8.434900,-1.074461,-1.736214,-2.755967,-2.767218,-3.620603
320,50,1,1,9,11,Connecticut,New London County,274055,274046,274067,...,-8.463706,-2.425106,-7.575122,-9.248635,-9.452705,-4.688659,2.432410,-3.302257,-4.571249,-4.381149
321,50,1,1,9,13,Connecticut,Tolland County,152691,152682,153208,...,-3.813541,-10.963827,-4.281160,-3.870513,-3.742364,-1.678219,-8.878601,-2.035198,-1.226432,-1.108849
322,50,1,1,9,15,Connecticut,Windham County,118428,118434,118593,...,-5.544046,-8.089355,-6.844197,-10.750119,-6.589461,-3.037834,-5.847013,-4.670358,-7.943144,-3.744596
608,40,2,3,17,0,Illinois,Illinois,12830632,12831549,12841249,...,-5.243330,-5.805172,-5.308960,-7.509147,-8.174675,-3.020410,-3.519051,-2.830379,-4.625216,-5.247030
609,50,2,3,17,1,Illinois,Adams County,67103,67103,67154,...,0.148846,-1.056728,-3.786524,-1.253600,-1.835396,0.416769,-0.803709,-3.518187,-0.955124,-1.536958
610,50,2,3,17,3,Illinois,Alexander County,8238,8238,8214,...,-24.274536,-41.452095,-66.340548,-21.245370,-42.513330,-24.028094,-41.324941,-66.072506,-20.965826,-42.225104
611,50,2,3,17,5,Illinois,Bond County,17768,17768,17772,...,-7.053181,-11.029307,-12.235754,-10.861358,-10.213066,-6.206799,-10.290230,-11.431526,-9.873962,-9.215237
612,50,2,3,17,7,Illinois,Boone County,54165,54167,54123,...,-3.083513,-11.033666,-2.507383,-4.385109,-7.319935,-3.268155,-11.422436,-2.823127,-4.570919,-7.431690
613,50,2,3,17,9,Illinois,Brown County,6937,6937,6913,...,-3.917017,-0.145307,-3.781818,-1.751569,-2.486834,-3.771943,0.290613,-3.345455,-1.167713,-1.901697
614,50,2,3,17,11,Illinois,Bureau County,34978,34978,34921,...,-6.870580,-8.174979,-6.634420,-6.117917,-10.401079,-6.583108,-7.827108,-6.166796,-5.500243,-9.778792
615,50,2,3,17,13,Illinois,Calhoun County,5089,5089,5082,...,-6.895193,-8.122833,5.365127,-14.195741,-11.559521,-6.501182,-7.726597,5.762543,-13.595921,-10.951126
616,50,2,3,17,15,Illinois,Carroll County,15387,15388,15382,...,-7.973075,-7.065271,-4.466071,-6.997241,-7.073386,-7.515603,-6.603057,-3.866151,-6.189867,-6.257226
617,50,2,3,17,17,Illinois,Cass County,13642,13638,13634,...,-5.134412,-21.743150,-12.955405,-20.395011,-22.060241,-3.007298,-19.228636,-10.034822,-17.059024,-18.512091
618,50,2,3,17,19,Illinois,Champaign County,201081,201081,201489,...,-7.576020,-8.039119,-6.182524,-7.995954,-8.763227,0.767004,0.467105,2.996108,2.405562,1.494169
619,50,2,3,17,21,Illinois,Christian County,34800,34800,34785,...,0.028772,-5.313772,-9.372044,-7.987549,-8.614692,0.489117,-4.851705,-8.906352,-7.458961,-8.081825
620,50,2,3,17,23,Illinois,Clark County,16335,16335,16300,...,-3.689583,4.611979,-7.395082,-1.610306,-9.901298,-3.628090,4.488993,-7.518334,-1.734176,-10.025843
621,50,2,3,17,25,Illinois,Clay County,13815,13815,13813,...,-3.485333,-2.839875,-10.847259,-5.108084,-1.859358,-2.613999,-1.966067,-9.967751,-4.145691,-0.892492
622,50,2,3,17,27,Illinois,Clinton County,37762,37762,37826,...,3.712578,-4.698903,-6.637955,-2.616521,-1.587554,3.791569,-4.593899,-6.506249,-2.405085,-1.322961
623,50,2,3,17,29,Illinois,Coles County,53873,53873,53895,...,-5.543928,-6.171685,-5.660182,-6.791268,-3.953696,-4.967211,-5.741537,-5.208872,-6.204835,-3.345435
624,50,2,3,17,31,Illinois,Cook County,5194675,5195022,5199303,...,-6.399085,-5.939523,-6.011973,-9.374552,-10.561919,-3.000501,-2.669330,-2.358718,-5.102980,-6.263994
625,50,2,3,17,33,Illinois,Crawford County,19817,19817,19811,...,-0.454603,-9.489736,-5.928803,-4.423982,3.299905,0.050511,-8.880769,-5.366589,-3.755241,3.970198
626,50,2,3,17,35,Illinois,Cumberland County,11048,11048,11047,...,2.260398,-13.627072,-4.761905,-5.044946,-6.145661,3.254973,-12.446060,-3.571429,-3.760778,-4.861493
627,50,2,3,17,37,Illinois,DeKalb County,105160,105160,105177,...,-14.631981,-7.362493,-8.419901,-0.651503,-10.131790,-13.429353,-6.039545,-6.912575,1.092226,-8.342701
628,50,2,3,17,39,Illinois,De Witt County,16561,16561,16586,...,-1.508705,-5.384476,-6.445336,-6.189674,3.262241,-1.508705,-5.384476,-6.445336,-6.189674,3.262241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,50,2,3,55,83,Wisconsin,Oconto County,37660,37660,37675,...,-1.700138,-5.222558,-2.405260,2.937720,-0.373667,-1.567315,-5.036038,-2.218184,3.178079,-0.133453
3140,50,2,3,55,85,Wisconsin,Oneida County,35998,35998,35940,...,0.278695,0.167684,0.952594,-0.084345,5.319523,0.640999,0.558948,1.372857,0.449843,5.854290
3141,50,2,3,55,87,Wisconsin,Outagamie County,176695,176695,176936,...,-1.753535,0.000000,0.334121,3.550358,-0.147854,-0.986716,0.841069,1.208405,4.544237,0.854270
3142,50,2,3,55,89,Wisconsin,Ozaukee County,86395,86395,86371,...,3.200314,2.508486,-1.515404,1.991941,1.413782,3.870416,3.244923,-0.688820,2.942119,2.360104
3143,50,2,3,55,91,Wisconsin,Pepin County,7469,7469,7458,...,-5.104440,-7.279590,-3.787366,-5.293878,-7.512122,-4.701457,-6.875169,-3.381577,-4.750916,-6.965786
3144,50,2,3,55,93,Wisconsin,Pierce County,41019,41019,41091,...,-11.722184,-7.537164,-2.261026,2.572237,-3.520395,-11.722184,-7.512613,-2.236449,2.694724,-3.398159
3145,50,2,3,55,95,Wisconsin,Polk County,44205,44205,44175,...,-5.128089,-11.335200,-3.449267,1.380866,-1.794836,-4.901182,-10.969548,-3.058350,1.864169,-1.288600
3146,50,2,3,55,97,Wisconsin,Portage County,70019,70019,69995,...,-1.312710,0.824607,-1.318429,-3.912757,-4.556164,-0.827578,1.464389,-0.595420,-3.090511,-3.732932
3147,50,2,3,55,99,Wisconsin,Price County,14159,14159,14108,...,-3.199659,-7.456266,-2.241990,-2.767964,2.269067,-2.986348,-6.882707,-1.663412,-2.185235,2.854633
3148,50,2,3,55,101,Wisconsin,Racine County,195408,195428,195443,...,-7.289810,-6.016365,-2.952913,-3.068295,-4.019833,-6.603348,-5.451689,-2.310975,-2.278132,-3.214841
3149,50,2,3,55,103,Wisconsin,Richland County,18021,18021,17987,...,-0.722804,-10.284788,-1.574228,-6.600288,-10.804049,-0.778405,-10.061206,-1.236893,-6.205399,-10.406005
3150,50,2,3,55,105,Wisconsin,Rock County,160331,160331,160234,...,-5.346107,-1.854587,-0.454939,0.329294,-3.235053,-5.158744,-1.473678,0.062320,0.994094,-2.547139
3151,50,2,3,55,107,Wisconsin,Rusk County,14755,14755,14719,...,-5.114043,-21.571542,7.666841,2.088046,-12.430212,-4.568545,-20.465309,8.782018,3.271272,-11.236350
3152,50,2,3,55,109,Wisconsin,St. Croix County,84345,84345,84437,...,-1.003542,-2.173441,1.939082,4.073108,0.137604,-0.814640,-1.820991,2.324563,4.535961,0.596286
3153,50,2,3,55,111,Wisconsin,Sauk County,61976,61976,62031,...,1.012512,-2.225086,3.663996,0.506413,-0.047243,2.233955,-1.296633,4.747264,1.772446,1.212579
3154,50,2,3,55,113,Wisconsin,Sawyer County,16557,16557,16573,...,-0.664331,1.873451,1.270341,-1.578340,-1.219103,-0.603938,2.054753,1.451818,-1.396224,-1.036238
3155,50,2,3,55,115,Wisconsin,Shawano County,41949,41955,41934,...,-3.846016,-5.107669,-1.106181,-0.120328,-7.241479,-3.296585,-4.580116,-0.577138,0.505379,-6.613884
3156,50,2,3,55,117,Wisconsin,Sheboygan County,115507,115507,115474,...,-4.825728,-5.608077,-3.201044,1.033987,-0.519861,-4.002668,-4.878853,-2.331195,2.059285,0.502532
3157,50,2,3,55,119,Wisconsin,Taylor County,20689,20689,20639,...,0.869460,-17.745885,2.484049,-3.305785,-7.655549,0.966067,-17.503455,2.776290,-2.965484,-7.314219
3158,50,2,3,55,121,Wisconsin,Trempealeau County,28816,28816,28850,...,1.139936,5.957068,1.764297,-8.089081,-2.099382,2.038067,6.915677,2.748231,-6.938333,-0.948108
3159,50,2,3,55,123,Wisconsin,Vernon County,29773,29771,29742,...,3.680222,1.228297,-4.198902,-1.088337,0.394309,3.780592,1.361086,-4.033591,-0.923437,0.558604
3160,50,2,3,55,125,Wisconsin,Vilas County,21430,21430,21442,...,2.662867,1.640997,7.507860,5.335580,5.749679,2.849735,1.969196,7.883253,5.756810,6.170387
3161,50,2,3,55,127,Wisconsin,Walworth County,102228,102228,102188,...,3.600246,0.349764,-2.154336,2.662922,-8.376029,4.127111,0.757822,-1.620604,3.389174,-7.629555
3162,50,2,3,55,129,Wisconsin,Washburn County,15911,15911,15930,...,-6.873936,7.338289,-6.732724,3.510452,-5.123279,-6.747809,7.464811,-6.605691,3.638104,-4.995197
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223

In [117]:
'a' in 'ab'

True

### Pivot Table

In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('cars.csv')

In [12]:
df.head()

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7

In [13]:
df.pivot_table(values="(kW)", index='YEAR', columns='Make', aggfunc=np.mean)

Make    BMW  CHEVROLET   FORD   KIA  MITSUBISHI  NISSAN  SMART       TESLA
YEAR
2012    NaN        NaN    NaN   NaN        49.0    80.0    NaN         NaN
2013    NaN        NaN  107.0   NaN        49.0    80.0   35.0  280.000000
2014    NaN      104.0  107.0   NaN        49.0    80.0   35.0  268.333333
2015  125.0      104.0  107.0  81.0        49.0    80.0   35.0  320.666667
2016  125.0      104.0  107.0  81.0        49.0    80.0   35.0  409.700000

### Date Functionality in Pandas